*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Navbar{
    padding: 5px 5rem;
    height: 12vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 29px 0px;
}
.box{
    width: 150%;
    /* background-color: aqua; */
    border: 1px solid black;
}
input[type="text"]{
    border: none;
    outline: none;
}

ul li{
    display: inline-block;
    line-height: 1rem;
    
}
img{
    height:110px;
    width: 170px;
}